node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.backup
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
vendor/binary
vendor/bin/phpunit
